@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&family=PT+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@keyframes anm-left {
  0% {
    left: 0;
  }
  100% {
    left: 50%;
  }
}
@keyframes anm-right {
  0% {
    right: 0;
  }
  100% {
    right: 50%;
  }
}
.our-services .our-services-content .our-services-content__item .our-services-content__button, .guarantee .guarantee-content__button, .stages .stages-content__button, .services-about-wrap .services-about__button {
  background: #e2c02b;
  width: 30%;
  text-align: center;
  margin: 25px auto;
  padding: 20px;
  border-radius: 30px;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

* {
  color: black;
  font-family: "PT Sans", sans-serif;
}

header {
  background: url("/src/img/header/bg.jpg") 0 0/100% no-repeat;
  padding-bottom: 45px;
}
header .mobil-menu {
  padding: 45px;
  display: flex;
  justify-content: end;
}
header .mobil-menu .burger-button__open {
  background-color: inherit;
}
header .mobil-menu .burger-button__open svg {
  border-radius: 50%;
  background: #e2c02b;
  padding: 10px;
}
header .mobil-menu .burger-menu {
  display: none;
}
header .welcome {
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
  margin: 0 45px;
  border-bottom: 1px solid #dcdbd9;
  margin-bottom: 40px;
}
header .welcome p {
  color: #333;
  font-size: 16px;
}
header .welcome .social a {
  padding: 5px;
  margin: 5px;
}
header .welcome .social a img {
  width: 20px;
  height: 20px;
}
header .header {
  margin: 0 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header .header-logo {
  display: flex;
}
header .header .header-logo a {
  display: flex;
}
header .header .header-logo a img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}
header .header .header-logo a .header-title {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
header .header .header-logo a .header-title__text {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
}
header .header .header-menu {
  flex-grow: 6;
}
header .header .header-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header .header-menu ul .active {
  border: 2px solid #e2c02b;
  border-radius: 20px;
}
header .header .header-menu ul li {
  padding: 10px 20px;
}
header .header .header-menu ul li img {
  width: 20px;
  height: 20px;
}
header .header .header-menu ul li:hover {
  border: 2px solid #e2c02b;
  border-radius: 20px;
  transition: 0.3s;
  box-shadow: 3px 3px 5px #ebc623;
}
header .header .header-menu ul .header-menu__button {
  position: relative;
}
header .header .header-menu ul .header-menu__button:hover {
  border: none;
}
header .header .header-menu ul .header-menu__button:hover .header-menu__button-dropcontent {
  display: block;
}
header .header .header-menu ul .header-menu__button .header-menu__button-dropcontent {
  position: absolute;
  top: 40px;
  left: -10px;
  background: #e2c02b;
  border-radius: 10px;
  padding: 18px;
  display: none;
  opacity: 0.9;
}
header .header .header-menu ul .header-menu__button .header-menu__button-dropcontent a {
  display: block;
  padding: 20px;
}
header .header .header-menu ul .header-menu__button .header-menu__button-dropcontent a:hover {
  border-bottom: 2px solid #333;
  color: #333;
  background: #ebc623;
  box-shadow: 3px 3px 5px #ebc623;
}
header .header .header-telephone {
  display: flex;
}
header .header .header-telephone .header-telephone__text {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
header .header .header-telephone .header-telephone__logo {
  background: #e2c02b;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header .header-telephone .header-telephone__logo img {
  width: 25px;
  height: 25px;
}
header .name {
  display: flex;
  justify-content: end;
  margin: 0 45px;
}
header .name .name-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .name .name-content h2 {
  font-family: "Oswald", sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: -3px;
  margin-bottom: 20px;
}
header .name .name-content h1 {
  font-family: "Oswald", sans-serif;
  font-size: 100px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}
header .name .name-content h1 span {
  font-family: "Oswald", sans-serif;
  font-size: 100px;
  text-transform: uppercase;
  color: #e2c02b;
  font-weight: bold;
  margin-bottom: 20px;
}
header .name .name-content p {
  margin-bottom: 20px;
}
header .name .name-content .name-buttons {
  font-family: "Oswald", sans-serif;
  text-align: center;
}
header .name .name-content .name-buttons a {
  width: 200px;
  border-radius: 30px;
  padding: 20px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  margin: 10px;
}
header .name .name-content .name-buttons .name-buttons__call {
  background: #e2c02b;
}
header .name .name-content .name-buttons .name-buttons__about {
  border: 2px solid #e2c02b;
}
header .name .name-content .name-buttons .name-buttons__about:hover {
  background: #e2c02b;
  color: white;
}

.search {
  margin: 0 45px;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 80px;
  margin-bottom: 80px;
}
.search .search-text {
  background: #e2c02b;
  border-radius: 30px;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.search .search-text h2 {
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
}
.search .search-text h3 {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  padding: 20px 0;
}
.search .search-text p {
  line-height: 2;
  padding: 20px 0;
  color: #333;
}
.search .search-text a {
  background: black;
  color: white;
  padding: 20px 0;
  text-transform: uppercase;
  width: 70%;
  border-radius: 30px;
  font-weight: bold;
}
.search .search-imgs {
  width: 60%;
  border-radius: 30px;
  box-shadow: 5px 5px 10px 10px #eee;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: white;
}
.search .search-imgs .search-imgs__items {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 30px 0;
}
.search .search-imgs .search-imgs__items .search-imgs__items-figs {
  width: 150px;
  height: 150px;
  overflow: hidden;
}
.search .search-imgs .search-imgs__items .search-imgs__items-figs a .search-imgs__items-number {
  text-transform: uppercase;
  font-size: 20px;
  width: 50px;
  height: 50px;
  background: #e2c02b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5%;
  left: 20%;
}
.search .search-imgs .search-imgs__items .search-imgs__items-figs a img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 10px;
  border: 2px solid #dcdbd9;
}
.search .search-imgs .search-imgs__items .search-imgs__items-figs a img:hover {
  border: 1px solid #333;
}
.search .search-imgs .search-imgs__items .search-imgs__items-name {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.about {
  position: relative;
}
.about .about-text {
  margin: 0 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .about-text .about-text__main {
  text-transform: uppercase;
}
.about .about-text .about-text__main h3 {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  color: #e2c02b;
  font-weight: bold;
}
.about .about-text .about-text__main h2 {
  font-family: "Oswald", sans-serif;
  font-size: 80px;
  font-weight: bold;
  padding: 20px 0;
}
.about .about-text .about-text__main h4 {
  font-family: "Oswald", sans-serif;
  font-size: 35px;
}
.about .about-text .about-text__content {
  width: 60%;
  text-align: justify;
  line-height: 1.5;
}
.about .about-img {
  background: url("/src/img/about/about-bg.png") 0 0/100% no-repeat;
  height: 85vh;
  background-size: top;
}
.about .about-results {
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 70px;
  background: white;
  position: absolute;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
}
.about .about-results .about-results-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .about-results .about-results-item img {
  width: 80px;
  height: 80px;
}
.about .about-results .about-results-item h2 {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  color: #e2c02b;
  padding: 15px 0;
  font-weight: bold;
}
.about .about-results .about-results-item h2 span {
  font-size: 40px;
  color: #e2c02b;
  font-weight: bold;
}
.about .about-results .about-results-item p {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

.services {
  background: repeating-linear-gradient(-60deg, #000, #000 30%, #333 30%, #333 50%);
  padding: 50px 0;
}
.services .services-text {
  text-transform: uppercase;
  margin: 0 45px;
  text-align: center;
  padding: 75px 0;
}
.services .services-text h3 {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  color: white;
}
.services .services-text h2 {
  font-family: "Oswald", sans-serif;
  font-size: 100px;
  color: #e2c02b;
  margin-top: 35px;
}
.services .services-block {
  margin: 0 45px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.services .services-block .services-block__item {
  width: 30%;
}
.services .services-block .services-block__item img {
  width: 100%;
  height: 70%;
  border-radius: 20px;
}
.services .services-block .services-block__item h4 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  padding: 20px;
  font-weight: bold;
}
.services .services-block .services-block__item p {
  color: #dcdbd9;
  padding-bottom: 40px;
}
.services .services-block .services-block__item a {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  border: 2px solid #e2c02b;
  padding: 20px 0;
  border-radius: 30px;
  display: inline-block;
  width: 70%;
  text-align: center;
}

.info {
  margin: 0 45px;
}
.info .info-head h2 {
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  padding: 50px 0;
}
.info .info-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.info .info-text .info-text__item {
  width: 45%;
  display: flex;
  align-items: center;
}
.info .info-text .info-text__item .info-text__item-number {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  width: 50px;
  height: 50px;
  background: #e2c02b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.info .info-text .info-text__item .info-text__item-about p {
  font-size: 16px;
}
.info .info-text .info-text__item .info-text__item-about h5 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: #e2c02b;
}
.info .info-search {
  background: #e2c02b;
  width: 30%;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  border-radius: 30px;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 40px;
}

.scheme {
  margin: 100px 45px;
}
.scheme .scheme-text {
  display: flex;
}
.scheme .scheme-text .scheme-text__main {
  text-transform: uppercase;
  width: 60%;
}
.scheme .scheme-text .scheme-text__main h2 {
  font-family: "Oswald", sans-serif;
  font-size: 100px;
  font-weight: bold;
}
.scheme .scheme-text .scheme-text__main h3 {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  padding: 30px 0;
}
.scheme .scheme-text .scheme-text__cont {
  width: 35%;
  text-align: center;
}
.scheme .scheme-text .scheme-text__cont p {
  font-size: 16px;
}
.scheme .scheme-text .scheme-text__cont a {
  padding: 20px;
  border-radius: 30px;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  background: #e2c02b;
  width: 70%;
  display: inline-block;
  margin: 40px 0;
}
.scheme .scheme-content {
  display: flex;
  justify-content: center;
}
.scheme .scheme-content .scheme-content__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scheme .scheme-content .scheme-content__item h4 {
  font-family: "Oswald", sans-serif;
  font-size: 100px;
  color: #e2c02b;
  font-weight: bold;
  text-align: center;
}
.scheme .scheme-content .scheme-content__item h3 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  background: black;
  text-align: center;
  color: white;
  border-radius: 20px;
  width: 80%;
  margin: 20px 0;
  padding: 10px 0;
}
.scheme .scheme-content .scheme-content__item p {
  font-size: 16px;
  text-align: center;
}

.feedback {
  margin: 0 45px 100px 45px;
  display: flex;
}
.feedback .feedback-about {
  background: url("/src/img/feedback/f-bg.png") 40% 0/70% auto no-repeat;
  width: 45%;
}
.feedback .feedback-about h2 {
  font-family: "Oswald", sans-serif;
  font-size: 150px;
  font-weight: bold;
  color: #e2c02b;
}
.feedback .feedback-about h3 {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  padding: 10px 0;
}
.feedback .feedback-about p {
  font-size: 16px;
  padding: 10px 0;
}
.feedback .feedback-comment {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.feedback .feedback-comment .feedback-comment__user {
  display: flex;
}
.feedback .feedback-comment .feedback-comment__user img {
  display: block;
  width: 125px;
  height: 125px;
  border-radius: 15px;
  margin: 0 25px;
}
.feedback .feedback-comment .feedback-comment__user .feedback-comment__user-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.feedback .feedback-comment .feedback-comment__user .feedback-comment__user-text p {
  line-height: 2;
  color: #777;
}
.feedback .feedback-comment .feedback-comment__user .feedback-comment__user-text .feedback-comment__user-text-name {
  display: flex;
  align-items: center;
}
.feedback .feedback-comment .feedback-comment__user .feedback-comment__user-text .feedback-comment__user-text-name svg {
  background: #e2c02b;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
}
.feedback .feedback-comment .feedback-comment__user .feedback-comment__user-text .feedback-comment__user-text-name h4 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.partners {
  margin: 100px 45px;
}
.partners h2 {
  font-family: "Oswald", sans-serif;
  font-size: 100px;
  color: #e2c02b;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}
.partners .partners-company {
  display: flex;
  justify-content: space-between;
}
.partners .partners-company .partners-company__item {
  margin: 10px;
}

.pre-footer {
  width: 100%;
  height: 30vh;
  background: #dcdbd9;
}

footer {
  background: repeating-linear-gradient(-60deg, #000, #000 25%, #333 25%, #333 60%);
}
footer .footer-content {
  margin: 0 45px;
  padding: 45px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dcdbd9;
}
footer .footer-content .footer-contacts {
  border-right: 1px solid #dcdbd9;
  width: 33%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
footer .footer-content .footer-contacts .footer-contacts__item {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
footer .footer-content .footer-contacts .footer-contacts__item svg {
  background: #e2c02b;
  border-radius: 50%;
  padding: 10px;
  margin: 0 20px;
}
footer .footer-content .footer-contacts .footer-contacts__item .footer-contacts__item-text {
  display: flex;
  flex-direction: column;
}
footer .footer-content .footer-contacts .footer-contacts__item .footer-contacts__item-text p {
  color: #dcdbd9;
}
footer .footer-content .footer-contacts .footer-contacts__item .footer-contacts__item-text h4 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
}
footer .footer-content .footer-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid #dcdbd9;
  width: 33%;
}
footer .footer-content .footer-name a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .footer-content .footer-name a img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
footer .footer-content .footer-name a h4 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  margin: 30px 0;
}
footer .footer-content .footer-name a p {
  color: #dcdbd9;
  margin-bottom: 30px;
}
footer .footer-content .footer-name .footer-name__social img {
  background: #aaa;
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
}
footer .footer-content .footer-menu {
  background: #e2c02b;
  padding: 30px 60px;
  text-align: center;
  border-radius: 15px;
  width: 33%;
}
footer .footer-content .footer-menu p {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-weight: bold;
}
footer .footer-content .footer-menu ul li {
  padding: 10px;
  font-size: 16px;
}
footer .footer-copyright {
  margin: 0 45px;
  padding: 45px 0 25px 0;
}
footer .footer-copyright p {
  font-size: 16px;
  color: white;
}

.cont {
  background: #eee;
  padding: 100px 45px;
}
.cont h2 {
  font-size: 72px;
  color: #e2c02b;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px;
  font-weight: bold;
}
.cont .contacts {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont .contacts .contact-info {
  border: 2px solid #333;
  background: #dcdbd9;
  padding: 35px;
  border-radius: 30px;
}
.cont .contacts .contact-info .contact-info__item {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.cont .contacts .contact-info .contact-info__item svg {
  background: #e2c02b;
  border-radius: 50%;
  padding: 10px;
  margin-right: 25px;
}
.cont .contacts .contact-info .contact-info__item .contact-info__item-text p {
  color: #333;
}
.cont .contacts .contact-info .contact-info__item .contact-info__item-text h4 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}
.cont .contacts .contact-info:hover .contact-info__help {
  width: 0;
  height: 0;
  border-top: 150px solid transparent;
  border-left: 30px solid #e2c02b;
  border-bottom: 150px solid transparent;
  display: block;
}

.services-about-wrap {
  padding: 45px;
  background: #eee;
}
.services-about-wrap .services-about {
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-about-wrap .services-about .services-about__img {
  width: 40%;
  position: relative;
}
.services-about-wrap .services-about .services-about__img img {
  width: 80%;
  height: 80%;
  border: 15px solid #ccc;
  position: relative;
  z-index: 2;
}
.services-about-wrap .services-about .services-about__img .services-about__img-block {
  background: linear-gradient(#e2c02b, rgb(179, 169, 86));
  position: absolute;
  width: 80%;
  height: 80%;
  top: 35%;
  left: -15%;
}
.services-about-wrap .services-about .services-about__text {
  width: 50%;
}
.services-about-wrap .services-about .services-about__text h2 {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  margin-bottom: 25px;
  color: #e2c02b;
}
.services-about-wrap .services-about .services-about__text h3 {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  margin-bottom: 25px;
}
.services-about-wrap .services-about .services-about__text p {
  font-size: 16px;
  text-align: justify;
  margin-bottom: 15px;
}
.services-about-wrap .services-about__button {
  margin: 100px auto 0 auto;
}

.stages {
  margin: 0 45px;
}
.stages .stages-text {
  padding: 90px 0;
  text-transform: uppercase;
  text-align: center;
}
.stages .stages-text h2 {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  color: #e2c02b;
  margin-bottom: 1px;
}
.stages .stages-text h3 {
  font-family: "Oswald", sans-serif;
  font-size: 32px;
}
.stages .stages-content {
  display: flex;
  margin-bottom: 90px;
}
.stages .stages-content .stages-content__items {
  width: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stages .stages-content .stages-content__items p {
  font-size: 16px;
}
.stages .stages-content .stages-content__items h4 {
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  color: #e2c02b;
  padding: 20px 0;
}
.stages .stages-content .stages-content__items .stages-content__items-number {
  font-size: 70px;
  color: white;
  background: linear-gradient(#e2c02b, rgb(179, 169, 86));
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.guarantee {
  padding: 20px 45px;
  background: #eee;
}
.guarantee .guarantee-main {
  text-transform: uppercase;
  text-align: center;
  padding: 45px 0;
}
.guarantee .guarantee-main h2 {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  color: #e2c02b;
}
.guarantee .guarantee-main h3 {
  font-family: "Oswald", sans-serif;
  font-size: 32px;
}
.guarantee .guarantee-content {
  display: flex;
  align-items: center;
  padding: 50px 0;
}
.guarantee .guarantee-content .guarantee-content__img {
  width: 40%;
  margin-right: 50px;
}
.guarantee .guarantee-content .guarantee-content__img img {
  width: 100%;
}
.guarantee .guarantee-content .guarantee-content__text {
  width: 60%;
  font-size: 16px;
  text-align: justify;
}
.guarantee .guarantee-content .guarantee-content__text .guarantee-content__text-header {
  color: #333;
  font-weight: bold;
  margin-bottom: 15px;
}
.guarantee .guarantee-content .guarantee-content__text ol li {
  color: #bbb;
  margin-bottom: 15px;
}
.guarantee .guarantee-content .guarantee-content__text p {
  color: #bbb;
  margin-bottom: 15px;
}
.our-services {
  padding: 0 45px 45px 45px;
  background: #ddd;
}
.our-services .our-services-main {
  text-transform: uppercase;
  text-align: center;
  padding: 45px 0;
}
.our-services .our-services-main h2 {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  color: #e2c02b;
  padding: 15px 0;
}
.our-services .our-services-main h3 {
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  padding: 15px 0;
}
.our-services .our-services-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.our-services .our-services-content .our-services-content__item {
  width: 30%;
  background: white;
  border-radius: 30px;
  padding: 15px;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}
.our-services .our-services-content .our-services-content__item h3 {
  font-family: "Oswald", sans-serif;
  font-size: 32px;
}
.our-services .our-services-content .our-services-content__item p {
  margin: 10px;
}
.our-services .our-services-content .our-services-content__item .our-services-content__item-full {
  display: none;
}
.our-services .our-services-content .our-services-content__item h4 {
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  color: #e2c02b;
  margin: 20px;
}
.our-services .our-services-content .our-services-content__item .our-services-content__button {
  margin: 25px auto;
  width: 80%;
}

.page-about h2 {
  color: #e2c02b;
}

.description {
  margin: 250px 45px 0 45px;
}
.description h2 {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  color: #e2c02b;
  text-align: center;
}
.description .description-item {
  font-size: 20px;
  text-align: justify;
  margin: 20px 0;
}
.description .description-item:hover h5 {
  text-decoration: underline #e2c02b;
}
.description .description-item:hover p span {
  text-decoration: underline #e2c02b;
}
.description .description-item h5 {
  color: #888;
  text-align: start;
  font-size: 20px;
}
.description .description-item p span {
  color: #888;
  line-height: 1.5;
}
.description .description-item ol {
  line-height: 1.5;
}
.description .description-item ol li {
  margin-left: 20px;
}
.description .description-item ul {
  line-height: 1.5;
}

.about-partners {
  background: #eee;
  padding: 50px 0;
}
.about-partners h2 {
  margin: 50px auto;
}

.blog-news {
  background: #eee;
  padding: 45px;
}
.blog-news .news {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.blog-news .news .news-item {
  width: 28%;
  text-align: center;
  margin: 20px;
  padding: 20px;
  background: white;
  border-radius: 15px;
}
.blog-news .news .news-item a {
  display: block;
  text-decoration: none;
}
.blog-news .news .news-item a img {
  width: 100%;
}
.blog-news .news .news-item a .date {
  font-size: 20px;
  padding: 20px 0;
}
.blog-news .news .news-item a .news-item__head {
  font-size: 24px;
  color: #e2c02b;
}
.blog-news .blog-news__pages ul {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.blog-news .blog-news__pages ul li a {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #dcdbd9;
  background: #fff;
}
.blog-news .blog-news__pages ul .blog-news__pages-first a {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.blog-news .blog-news__pages ul .blog-news__pages-second a {
  border-right: 0;
  border-left: 0;
}
.blog-news .blog-news__pages ul .blog-news__pages-next a {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.form {
  width: 40vw;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  margin: 30px auto;
  background: white;
  border: 2px solid #e2c02b;
  box-shadow: 3px 3px 10px;
}
.form form {
  width: 80%;
  height: 100%;
}
.form form .form-closed {
  display: flex;
  justify-content: end;
  align-items: start;
  margin: 10px;
}
.form form .form-closed a {
  background: #e2c02b;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.form form .form-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  margin: 50px 0;
}
.form form .form-body h3 {
  font-family: "Oswald", sans-serif;
  font-size: 45px;
  text-transform: uppercase;
}
.form form .form-body p {
  margin: 35px 0;
}
.form form .form-body input {
  width: 100%;
  border: 2px solid #e2c02b;
  box-shadow: 3px 3px 10px;
  margin: 5px 0;
  padding: 20px;
  border-radius: 30px;
}
.form form .form-body .form-body__rules {
  display: flex;
  align-items: center;
  width: 100%;
}
.form form .form-body .form-body__rules div p a {
  border-bottom: 2px solid #e2c02b;
  color: #e2c02b;
}
.form form .form-body .form-body__rules .form-body__rules-text {
  margin-left: 40px;
}
.form form .form-body textarea {
  width: 100%;
  border: 2px solid #e2c02b;
  box-shadow: 3px 3px 10px;
  margin: 5px 0;
  padding: 20px;
  border-radius: 30px;
  height: 150px;
}
.form form .form-body .form-body__submit {
  background: #e2c02b;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}

.body-index header {
  padding-bottom: 250px;
}

.body-about .page-about {
  padding-top: 45px;
}

.body-contacts {
  background: #dcdbd9;
}
.body-contacts .form {
  width: 70%;
}
.body-contacts .form .form-body {
  margin: 10px;
}
.body-contacts .form .form-body p {
  margin: 15px 0;
}
.body-contacts .form .form-body input {
  padding: 15px;
}
.body-contacts .form .form-body h3 {
  font-size: 35px;
}

.slider-section {
  margin: 20px;
}
.slider-section h2 {
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  color: #e2c02b;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
}
.slider-section .slider-cont {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.slider-section .slider-cont .viewport {
  overflow: hidden;
  width: 70%;
}
.slider-section .slider-cont .viewport .slider {
  transition: 500ms;
  width: 400%;
  display: flex;
  flex-wrap: nowrap;
}
.slider-section .slider-cont .viewport .slide {
  width: 100%;
}
.slider-section .slider-cont .viewport .slide img {
  width: 100%;
  object-fit: cover;
  object-position: 0;
}
.slider-section .slider-cont .view-slider {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.slider-section .slider-cont .view-slider h3 {
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  padding: 20px 0;
}
.slider-section .slider-cont .view-slider .view-slider__item {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #eee;
}
.slider-section .slider-cont .view-slider .view-slider__item .view-slide {
  margin: 10px 0;
  height: 25%;
  border-left: 4px solid #e2c02b;
  border-bottom: 1px solid #dcdbd9;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
}
.slider-section .slider-cont .view-slider .view-slider__item .view-slide:hover {
  cursor: pointer;
  opacity: 0.8;
  background: #ddd;
}
.slider-section .slider-cont .view-slider .view-slider__item .view-slide p {
  margin: 0 10px;
}

@media screen and (max-width: 992px) {
  header {
    padding-bottom: 35px;
    background-size: contain;
  }
  header .mobil-menu {
    padding: 15px;
  }
  header .mobil-menu .burger-button__open {
    position: fixed;
    z-index: 2;
  }
  header .welcome {
    padding: 15px 0;
    margin: 0 35px;
    margin-bottom: 15px;
  }
  header .welcome p {
    font-size: 16px;
  }
  header .welcome .social a img {
    width: 20px;
    height: 20px;
  }
  header .header {
    margin: 0 35px;
  }
  header .header .header-logo a .header-title__text {
    font-size: 18px;
  }
  header .header .header-menu {
    display: none;
  }
  header .header .header-telephone .header-telephone__text {
    font-size: 18px;
  }
  header .header .header-telephone .header-telephone__logo {
    width: 50px;
    height: 50px;
    margin-left: 20px;
  }
  header .header .header-telephone .header-telephone__logo img {
    width: 25px;
    height: 25px;
  }
  header .name {
    justify-content: end;
    margin: 0 35px;
  }
  header .name .name-content {
    width: 36%;
  }
  header .name .name-content h2 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
  }
  header .name .name-content h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  header .name .name-content h1 span {
    font-size: 40px;
    margin-bottom: 10px;
  }
  header .name .name-content p {
    margin-bottom: 20px;
  }
  header .name .name-content .name-buttons {
    display: flex;
    flex-direction: column;
  }
  header .name .name-content .name-buttons a {
    width: 100%;
  }

  footer .footer-content {
    margin: 0 35px;
    padding: 35px 0;
    flex-direction: column-reverse;
    align-items: center;
    border: none;
  }
  footer .footer-content .footer-contacts {
    border: none;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  footer .footer-content .footer-contacts .footer-contacts__item {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  footer .footer-content .footer-contacts .footer-contacts__item .footer-contacts__item-text p {
    margin: 10px;
    text-align: center;
  }
  footer .footer-content .footer-contacts .footer-contacts__item .footer-contacts__item-text h4 {
    font-size: 16px;
  }
  footer .footer-content .footer-name {
    border: none;
    width: 100%;
  }
  footer .footer-content .footer-name a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  footer .footer-content .footer-name a h4 {
    font-size: 16px;
    margin: 20px 0;
  }
  footer .footer-content .footer-name a p {
    margin-bottom: 15px;
  }
  footer .footer-content .footer-menu {
    display: none;
  }
  footer .footer-copyright {
    margin: 0 35px;
    padding: 35px 0 25px 0;
  }
  footer .footer-copyright p {
    font-size: 16px;
  }

  .search {
    margin: 0 35px;
  }
  .search .search-text {
    width: 45%;
    justify-content: space-around;
  }
  .search .search-text h2 {
    font-size: 40px;
  }
  .search .search-text h3 {
    font-size: 30px;
    padding: 15px 0;
  }
  .search .search-imgs {
    width: 55%;
  }
  .search .search-imgs .search-imgs__items {
    width: 50%;
    margin: 20px 0;
  }
  .search .search-imgs .search-imgs__items .search-imgs__items-name {
    font-size: 20px;
    margin-top: 10px;
  }

  .about .about-text {
    margin: 0 35px;
  }
  .about .about-text .about-text__main h3 {
    font-size: 30px;
  }
  .about .about-text .about-text__main h2 {
    font-size: 40px;
  }
  .about .about-text .about-text__main h4 {
    font-size: 30px;
  }
  .about .about-text .about-text__content {
    width: 50%;
  }
  .about .about-img {
    height: 65vh;
  }
  .about .about-results {
    padding: 40px;
    bottom: -20%;
  }
  .about .about-results .about-results-item img {
    width: 60px;
    height: 60px;
  }
  .about .about-results .about-results-item h2 {
    font-size: 40px;
    padding: 10px 0;
  }
  .about .about-results .about-results-item h2 span {
    font-size: 40px;
  }
  .about .about-results .about-results-item p {
    font-size: 16px;
  }

  .services {
    padding: 35px 0;
  }
  .services .services-text {
    margin: 0 35px;
    text-align: center;
    padding: 60px 0 30px 0;
  }
  .services .services-text h3 {
    font-size: 30px;
  }
  .services .services-text h2 {
    font-size: 40px;
    margin-top: 25px;
  }
  .services .services-block {
    margin: 0 35px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .services .services-block .services-block__item {
    margin: 15px 0;
    padding-bottom: 15px;
    width: 80%;
    background: #555;
    border-radius: 20px;
  }
  .services .services-block .services-block__item h4 {
    font-size: 20px;
  }
  .services .services-block .services-block__item p {
    padding-bottom: 30px;
  }
  .services .services-block .services-block__item a {
    padding: 15px 0;
  }

  .info {
    margin: 0 35px;
  }
  .info .info-head h2 {
    font-size: 40px;
    padding: 35px 0;
  }
  .info .info-text .info-text__item {
    width: 80%;
    display: flex;
    align-items: center;
  }
  .info .info-text .info-text__item .info-text__item-number {
    font-size: 20px;
  }
  .info .info-search {
    background: #e2c02b;
    width: 70%;
    margin-top: 30px;
  }

  .scheme {
    margin: 50px 35px;
  }
  .scheme .scheme-text .scheme-text__main {
    width: 50%;
  }
  .scheme .scheme-text .scheme-text__main h2 {
    font-size: 40px;
  }
  .scheme .scheme-text .scheme-text__main h3 {
    font-size: 30px;
    padding: 20px 0;
  }
  .scheme .scheme-text .scheme-text__cont {
    width: 50%;
  }
  .scheme .scheme-text .scheme-text__cont p {
    font-size: 16px;
  }
  .scheme .scheme-text .scheme-text__cont a {
    width: 70%;
    margin: 30px 0;
  }
  .scheme .scheme-content {
    flex-wrap: wrap;
  }
  .scheme .scheme-content .scheme-content__item {
    width: 50%;
  }
  .scheme .scheme-content .scheme-content__item h4 {
    font-size: 60px;
  }
  .scheme .scheme-content .scheme-content__item h3 {
    font-size: 14px;
  }

  .feedback {
    margin: 0 35px;
  }
  .feedback .feedback-about {
    width: 40%;
  }
  .feedback .feedback-about h2 {
    font-size: 100px;
  }
  .feedback .feedback-about h3 {
    font-size: 30px;
  }
  .feedback .feedback-about p {
    font-size: 16px;
  }
  .feedback .feedback-comment {
    width: 60%;
  }
  .feedback .feedback-comment .feedback-comment__user img {
    margin: 10px 25px;
  }
  .feedback .feedback-comment .feedback-comment__user .feedback-comment__user-text .feedback-comment__user-text-name h4 {
    font-size: 16px;
    text-align: justify;
  }

  .partners {
    margin: 50px 35px;
  }
  .partners h2 {
    font-size: 40px;
  }
  .partners .partners-company {
    flex-wrap: wrap;
    justify-content: center;
  }

  .description {
    margin: 150px 35px 0 35px;
  }
  .description h2 {
    font-size: 30px;
  }
  .description .description-item {
    font-size: 16px;
    margin: 15px 0;
  }
  .description .description-item h5 {
    font-size: 16px;
  }

  .services-about-wrap {
    padding: 35px;
  }
  .services-about-wrap .services-about {
    flex-direction: column;
  }
  .services-about-wrap .services-about .services-about__text {
    width: 100%;
    margin-top: 50px;
  }
  .services-about-wrap .services-about .services-about__text h2 {
    margin-bottom: 20px;
  }
  .services-about-wrap .services-about .services-about__text h3 {
    margin-bottom: 20px;
  }
  .services-about-wrap .services-about__button {
    margin: 25px auto;
    width: 50%;
  }

  .stages {
    margin: 0 35px;
  }
  .stages .stages-text {
    padding: 50px 0;
  }
  .stages .stages-content {
    margin-bottom: 50px;
  }
  .stages .stages-content .stages-content__items p {
    font-size: 16px;
  }
  .stages .stages-content .stages-content__items .stages-content__items-number {
    font-size: 50px;
    width: 70px;
    height: 70px;
  }
  .stages .stages-content__button {
    margin: 25px auto;
    width: 50%;
  }

  .guarantee {
    padding: 35px;
  }
  .guarantee .guarantee-main {
    padding: 35px 0;
  }
  .guarantee .guarantee-content {
    padding: 30px 0;
  }
  .guarantee .guarantee-content__button {
    margin: 25px auto;
    width: 50%;
  }

  .our-services {
    padding: 0 35px;
  }
  .our-services .our-services-main {
    padding: 35px 0;
  }
  .our-services .our-services-content .our-services-content__item {
    width: 45%;
    padding: 10px;
  }
  .our-services .our-services-content .our-services-content__item p {
    margin: 10px 0;
  }
  .our-services .our-services-content .our-services-content__item h4 {
    margin: 10px 0;
  }
  .our-services .our-services-content .our-services-content__item .our-services-content__button {
    width: 100%;
  }

  .cont {
    padding: 50px 35px;
  }
  .cont h2 {
    font-size: 54px;
    margin-bottom: 50px;
  }
  .cont .contacts {
    padding: 50px 35px;
    flex-direction: column;
  }
  .cont .contacts .contact-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .cont .contacts .contact-info .contact-info__item {
    width: 50%;
  }

  .body-contacts .form .form-body .form-body__rules .form-body__rules-text {
    margin-left: 30px;
  }

  .blog-news {
    padding: 35px;
  }
  .blog-news .news .news-item {
    width: 45%;
    margin: 15px;
    padding: 15px;
  }
  .blog-news .news .news-item a .date {
    font-size: 20px;
    padding: 15px 0;
  }
  .blog-news .news .news-item a .news-item__head {
    font-size: 24px;
  }
}
@media screen and (max-width: 767px) {
  footer .footer-content {
    margin: 0 35px;
    padding: 35px 0;
    flex-direction: column-reverse;
    align-items: center;
    border: none;
  }
  footer .footer-content .footer-contacts {
    border: none;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  footer .footer-content .footer-contacts .footer-contacts__item {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  footer .footer-content .footer-contacts .footer-contacts__item .footer-contacts__item-text p {
    margin: 10px;
    text-align: center;
  }
  footer .footer-content .footer-contacts .footer-contacts__item .footer-contacts__item-text h4 {
    font-size: 16px;
  }
  footer .footer-content .footer-name {
    border: none;
    width: 100%;
  }
  footer .footer-content .footer-name a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  footer .footer-content .footer-name a h4 {
    font-size: 16px;
    margin: 20px 0;
  }
  footer .footer-content .footer-name a p {
    margin-bottom: 15px;
  }
  footer .footer-content .footer-menu {
    display: none;
  }
  footer .footer-copyright {
    margin: 0 25px;
    padding: 35px 0 25px 0;
  }
  footer .footer-copyright p {
    font-size: 16px;
  }

  .search {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }
  .search .search-text {
    width: 90%;
    padding: 25px 0;
  }
  .search .search-text h2 {
    font-size: 30px;
  }
  .search .search-text h3 {
    font-size: 26px;
    padding: 15px 0;
  }
  .search .search-text p {
    font-size: 14px;
  }
  .search .search-imgs {
    width: 90%;
  }
  .search .search-imgs .search-imgs__items .search-imgs__items-name {
    font-size: 16px;
  }

  .about .about-text {
    margin: 0 25px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .about .about-text .about-text__main {
    text-align: center;
  }
  .about .about-text .about-text__main h3 {
    font-size: 26px;
  }
  .about .about-text .about-text__main h2 {
    font-size: 30px;
  }
  .about .about-text .about-text__main h4 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .about .about-text .about-text__content {
    width: 90%;
  }
  .about .about-img {
    height: 40vh;
  }
  .about .about-results {
    padding: 20px;
    bottom: -15%;
  }
  .about .about-results .about-results-item img {
    width: 40px;
    height: 40px;
  }
  .about .about-results .about-results-item h2 {
    font-size: 30px;
    padding: 10px 0;
  }
  .about .about-results .about-results-item h2 span {
    font-size: 30px;
  }
  .about .about-results .about-results-item p {
    font-size: 14px;
  }

  .services {
    padding: 250px 0;
  }
  .services .services-text {
    margin: 0 35px;
    text-align: center;
    padding: 60px 0 30px 0;
  }
  .services .services-text h3 {
    font-size: 30px;
  }
  .services .services-text h2 {
    font-size: 40px;
    margin-top: 25px;
  }
  .services .services-block {
    margin: 0 25px;
  }
  .services .services-block .services-block__item {
    width: 100%;
  }
  .services .services-block .services-block__item h4 {
    font-size: 16px;
  }
  .services .services-block .services-block__item p {
    padding-bottom: 20px;
  }
  .services .services-block .services-block__item a {
    padding: 10px 0;
  }

  .info {
    margin: 0 25px;
  }
  .info .info-head h2 {
    font-size: 30px;
    padding: 25px 0;
  }
  .info .info-text .info-text__item {
    width: 100%;
  }
  .info .info-text .info-text__item .info-text__item-number {
    font-size: 16px;
    width: 40px;
    height: 40px;
  }
  .info .info-text .info-text__item .info-text__item-about p {
    font-size: 14px;
  }
  .info .info-text .info-text__item .info-text__item-about h5 {
    font-size: 16px;
  }
  .info .info-search {
    width: 100%;
    margin-top: 20px;
  }

  .scheme {
    margin: 30px 25px;
  }
  .scheme .scheme-text {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  .scheme .scheme-text .scheme-text__main {
    width: 100%;
  }
  .scheme .scheme-text .scheme-text__main h2 {
    font-size: 30px;
  }
  .scheme .scheme-text .scheme-text__main h3 {
    font-size: 26px;
    padding: 10px 0;
  }
  .scheme .scheme-text .scheme-text__cont {
    width: 100%;
  }
  .scheme .scheme-text .scheme-text__cont p {
    font-size: 16px;
  }
  .scheme .scheme-text .scheme-text__cont a {
    width: 100%;
    margin: 20px 0;
  }
  .scheme .scheme-content {
    flex-wrap: wrap;
  }
  .scheme .scheme-content .scheme-content__item {
    width: 50%;
  }
  .scheme .scheme-content .scheme-content__item h4 {
    font-size: 50px;
  }
  .scheme .scheme-content .scheme-content__item h3 {
    width: 96%;
    margin: 20px 0;
    padding: 10px 0;
    font-size: 14px;
  }
  .scheme .scheme-content .scheme-content__item p {
    font-size: 14px;
  }

  .feedback {
    margin: 0 25px;
    flex-direction: column;
    align-items: center;
  }
  .feedback .feedback-about {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .feedback .feedback-about h2 {
    font-size: 100px;
  }
  .feedback .feedback-about h3 {
    font-size: 26px;
  }
  .feedback .feedback-about p {
    font-size: 14px;
  }
  .feedback .feedback-comment {
    width: 100%;
  }
  .feedback .feedback-comment .feedback-comment__user .feedback-comment__user-text {
    justify-content: center;
  }
  .feedback .feedback-comment .feedback-comment__user .feedback-comment__user-text .feedback-comment__user-text-name h4 {
    font-size: 14px;
  }

  .description {
    margin: 100px 25px 0 25px;
  }
  .description h2 {
    font-size: 26px;
  }
  .description .description-item {
    font-size: 14px;
    margin: 10px 0;
  }
  .description .description-item h5 {
    font-size: 14px;
  }

  .services-about-wrap {
    padding: 25px;
    text-align: center;
  }
  .services-about-wrap .services-about {
    flex-direction: column;
  }
  .services-about-wrap .services-about .services-about__img {
    margin-bottom: 50px;
  }
  .services-about-wrap .services-about .services-about__text {
    width: 100%;
  }
  .services-about-wrap .services-about .services-about__text h2 {
    font-size: 32px;
    margin-bottom: 15px;
  }
  .services-about-wrap .services-about .services-about__text h3 {
    font-size: 26px;
    margin-bottom: 15px;
  }
  .services-about-wrap .services-about .services-about__text p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .services-about-wrap .services-about__button {
    font-size: 14px;
    width: 100%;
  }

  .stages {
    margin: 0 25px;
  }
  .stages .stages-text {
    padding: 30px 0;
  }
  .stages .stages-text h2 {
    font-size: 32px;
  }
  .stages .stages-text h3 {
    font-size: 26px;
  }
  .stages .stages-content {
    margin-bottom: 50px;
    flex-wrap: wrap;
  }
  .stages .stages-content .stages-content__items {
    width: 50%;
    margin: 10px 0;
  }
  .stages .stages-content .stages-content__items p {
    font-size: 14px;
  }
  .stages .stages-content__button {
    font-size: 14px;
    width: 100%;
  }

  .guarantee {
    padding: 25px 0;
  }
  .guarantee .guarantee-main {
    padding: 25px 0;
  }
  .guarantee .guarantee-main h2 {
    font-size: 32px;
  }
  .guarantee .guarantee-main h3 {
    font-size: 26px;
  }
  .guarantee .guarantee-content {
    flex-direction: column;
    padding: 20px 0;
  }
  .guarantee .guarantee-content .guarantee-content__img {
    width: 60%;
    margin-bottom: 25px;
  }
  .guarantee .guarantee-content .guarantee-content__text {
    font-size: 14px;
    width: 100%;
  }
  .guarantee .guarantee-content .guarantee-content__text .guarantee-content__text-header {
    text-align: center;
  }
  .guarantee .guarantee-content__button {
    font-size: 14px;
    width: 100%;
  }

  .our-services {
    padding: 0 25px;
  }
  .our-services .our-services-main {
    padding: 25px 0;
  }
  .our-services .our-services-main h2 {
    font-size: 32px;
  }
  .our-services .our-services-main h3 {
    font-size: 26px;
  }
  .our-services .our-services-content .our-services-content__item {
    width: 90%;
    padding: 0;
  }
  .our-services .our-services-content .our-services-content__item h3 {
    font-size: 26px;
  }
  .our-services .our-services-content .our-services-content__item h4 {
    font-size: 26px;
  }

  .cont {
    padding: 25px;
  }
  .cont h2 {
    font-size: 32px;
    margin-bottom: 25px;
  }
  .cont .contacts {
    padding: 15px;
  }
  .cont .contacts .contact-info {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
  }
  .cont .contacts .contact-info .contact-info__item {
    width: 50%;
    padding: 10px 0;
  }
  .cont .contacts .contact-info .contact-info__item svg {
    margin: 10px 25px 10px 10px;
    padding: 10px;
  }
  .cont .contacts .contact-info .contact-info__item .contact-info__item-text h4 {
    font-size: 16px;
  }
  .cont .contacts .contact-info .contact-info__item .contact-info__item-text p {
    font-size: 14px;
  }

  .body-contacts .form {
    width: 90%;
    margin: 0 auto;
  }
  .body-contacts .form .form-body {
    margin: 10px;
  }
  .body-contacts .form .form-body p {
    margin: 15px 0;
  }
  .body-contacts .form .form-body input {
    padding: 15px;
  }
  .body-contacts .form .form-body h3 {
    font-size: 20px;
  }
  .body-contacts .form .form-body textarea {
    height: 100px;
  }
  .body-contacts .form .form-body .form-body__rules .form-body__rules-text {
    margin-left: 20px;
  }

  .blog-news {
    padding: 25px;
  }
  .blog-news .news .news-item {
    width: 90%;
    margin: 10px;
    padding: 10px;
  }
  .blog-news .news .news-item a .date {
    font-size: 16px;
    padding: 10px 0;
  }
  .blog-news .news .news-item a .news-item__head {
    font-size: 18px;
  }
}
@media screen and (max-width: 560px) {
  .cont .contacts .contact-info .contact-info__item svg {
    padding: 5px;
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 495px) {
  .cont .contacts .contact-info .contact-info__item {
    width: 100%;
    justify-content: center;
  }
  .cont .contacts .contact-info .contact-info__item svg {
    display: none;
  }
}